body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell {
    border: 1px solid black;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: bisque;
}

.black {
    background-color: black;
}

#gridContainer {
    margin-top: 100px;
}

#buttonContainer {
    display: flex;
}

.button {
    margin: 1em;
    padding: 0.5em;
}