body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(99, 99, 99);
}

.cell {
    border: 1px solid black;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
}

.black {
    background-color: black;
}

#gridContainer {
    margin-top: 100px;
}

#buttonContainer {
    margin-top: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    padding: 0.75em;
    border-radius: 1.5em;
    background-color: white;
    font-weight: bold;
}

#changeColorBlackButton{
    background-color: black;
    color: white;
}

#changeColorRainbowButton{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#changeColorGrayscaleButton{
    background: linear-gradient(to right, rgb(179, 179, 179), rgb(37, 37, 37));
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#resetButton{
    border: 2px solid red;
}

.activeButton {
    box-shadow: 0 0 7px 7px red;
}